* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: rgb(17, 17, 17);
    color: rgb(243, 237, 237);
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* box2*/

.addr-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.addr-second {
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    background-color: pink;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.select-search{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
}